body {
    margin: 0;
    box-sizing: border-box;
    ol, ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            padding: 0;
        }
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
}

